Pandas Nedir ?

In [ ]:
# Pandas ile alÄ±nan verilerin analizi yapÄ±lÄ±r.

In [2]:
import pandas as pd
# import numpy as np
# #data
# numbers = [20,30,40,50]
# letters = ['a','b','c',20]
# scalar = 5

#Pandas Serileri eÅŸli olarak Ã§alÄ±ÅŸÄ±r index - value tipinde Ã§alÄ±ÅŸÄ±r.

# # pandas_series = pd.Series(letters)
# # pandas_series = pd.Series(scalar, [0,1,2,3]) # verilen index kadar scalar deÄŸer arttÄ±rÄ±lÄ±r.
# # pandas_series = pd.Series(numbers, ['a','b','c','d'])
# dict = {'a':10,'b':20,'c':30,'d':40}
# # pandas_series = pd.Series(dict)
# random_numbers = np.random.randint(10,100,6)
# pandas_series = pd.Series([20,30,40,50],['a','b','c','d'])


# # result = pandas_series[['a','c']]
# result = pandas_series.ndim
# result = pandas_series.dtype
# result = pandas_series.shape
# result = pandas_series.sum() # deÄŸerlerin toplamÄ±nÄ± verir.
# result = pandas_series.max()
# result = pandas_series + pandas_series
# result = np.sqrt(pandas_series)
# result = pandas_series >= 50
# result = pandas_series % 2 == 0

# print(pandas_series[result])
# print(pandas_series)
# print(result)


opel2018 = pd.Series([20,30,40,10],["astra","corsa","mokka","insigne"])
opel2019 = pd.Series([40,30,20,10],["astra","corsa","Granland","insigne"])
total = opel2018 + opel2019
print(total["astra"])

60.0

Pandas DataFrames

In [19]:
# # seriler gibi ama ayrÄ±calÄ±k olarak json dosyasÄ±nÄ± alÄ±p Ã§evirme iÅŸlemini yapabiliriz.
# #Data framelerde datalara kolon baÅŸlÄ±ÄŸÄ± eklenebilir.
# import pandas as pd

data = [["Ahmet",50],["Ali",60],["YaÄŸmur",70],["Ã‡Ä±nar",80]]
# dict = {"Name" : ["Ahmet","Ali","YaÄŸmur","Ã‡Ä±nar"], "Grade" : [50,60,70,8]}
# dict_list = [
#     {"Name": "Ahmet","Grade": 50},
#     {"Name": "Ali","Grade": 60},
#     {"Name": "YaÄŸmur","Grade": 70},
#     {"Name": "Ã‡Ä±nar","Grade": 0},
    
# ]


# # df = pd.DataFrame()
# # df = pd.DataFrame([1,2,3,4]) #baÅŸlÄ±k tanÄ±mlanmaz ise default olarak 0 verir.
df = pd.DataFrame(data , columns = ['Name','Grade'], index = [1,2,3,4], dtype=float)

# df = pd.DataFrame(dict, index = ["212","232","236","456"])

# print(df)

# # s1= pd.Series([3,2,0,1])
# # s2= pd.Series([0,3,7,2])

# # data = dict(apples = s1, oranges = s2)# verilere baÅŸlÄ±k eklenir.

# # df = pd.DataFrame(data)

print(df)

     Name  Grade
1   Ahmet   50.0
2     Ali   60.0
3  YaÄŸmur   70.0
4   Ã‡Ä±nar   80.0

C:\Users\veyse\AppData\Local\Temp\ipykernel_8964\2161852337.py:18: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data , columns = ['Name','Grade'], index = [1,2,3,4], dtype=float)

Pandas ile FarklÄ± Tiplerden Veri Okuma

In [19]:
import pandas as pd

# df = pd.read_json('sample.json')
# df = pd.read_excel('sample.xslx')
df = pd.read_csv('sample.csv')

print(df)

                                  dict_list = [
    {"Name": "Ahmet"  Grade: 50}            NaN
    {"Name": "Ali"    Grade: 60}            NaN
    {"Name": "YaÄŸmur" Grade: 70}            NaN
    {"Name": "Ã‡Ä±nar"  Grade: 0}             NaN
]                     NaN                   NaN

DataFrame'ler ile Ã§alÄ±ÅŸma (seÃ§me iÅŸlemleri)

In [24]:
import pandas as pd
from numpy.random import randn

df = pd.DataFrame(randn(3,3), index = ["A","B","C"], columns = ["Column1","Column2","Column3"])

#SÃ¼tuna gÃ¶re seÃ§me iÅŸlemleri
result = df
result = df["Column1"]
result = type(df["Column1"])
result = df[["Column1","Column2"]]
# satÄ±ra gÃ¶re seÃ§me iÅŸlemleri

# loc["row","column"] tek baÅŸÄ±na wo--row gÃ¶nderilebilir.Column gÃ¶ndermek istersek row yerine ": ifadesini koymak gerekir."
result = df.loc["A"] #location kÄ±saltmasÄ±dÄ±r. a satÄ±rÄ±ndaki elemanlarÄ± getirir.
result = type(df.loc["A"])
result = df.iloc[2] # indexte integer ile Ã§alÄ±ÅŸmak istiyorsak kullanÄ±lÄ±r.
result = df.loc[:,"Column1"]
result = df.loc[:,["Column1","Column2"]]

result = df.loc[:,"Column1":"Column3"] # aralÄ±k belirtilir. column1 ve 3 arasÄ±ndaki onlarda dahil olarak getirilir.
result = df.loc[:,:"Column3"]
result = df.loc["A":"B",:"Column3"]

result = df.loc["A","Column2"]
result = df.loc[["A","B"],["Column1","Column2"]]


df["Column4"] = pd.Series(randn(3),["A","B","C"])
df["Column5"] = df["Column1"] + df["Column2"]
result = df.drop("Column5", axis = 1, inplace = True)
# drop silme iÅŸlemi yapar. kalÄ±cÄ± olarak deÄŸilde kopyasÄ±nÄ± Ã§Ä±karmak istersek inplace false olarak kullanÄ±rÄ±z default deÄŸeri zaten false.
# kalÄ±cÄ± olarak silmek istersek inplace deÄŸerini true olarak deÄŸiÅŸtirebiliriz.

print(df)

    Column1   Column2   Column3   Column4
A  1.182247 -1.923407  0.435056  0.979625
B  0.597685  1.618459 -2.003555  1.434513
C  0.944671 -1.900898 -0.138120 -0.194709

DateFrame Filtreleme

In [71]:
import pandas as pd
import numpy as np

data = np.random.randint(10,100,75).reshape(15,5)

df = pd.DataFrame(data, columns = ["Column1","Column2","Column3","Column4","Column5"])

result = df
result = df.columns
result = df.head(5)
result = df.head(10) # baÅŸtan ilk 10 kayÄ±t getirilir.
result = df.tail(5) # sondan ilk5 kayÄ±t getirilir.
result = df["Column1"].head(5) #Colummn1 in ilk 5 kaydÄ±nÄ± getirir.
result = df.Column1.head(5) #alternatif olarak kulllanÄ±llabilir.
result = df[["Column1","Column3"]].head(5)
result = df[5:15][["Column1","Column2"]].tail(5)

result = df > 50 
result = df[df > 50]  # true false deÄŸilde sayÄ± olarak istersek
result = df[df % 2 == 0]  # true false deÄŸilde sayÄ± olarak istersek
result = df[df["Column1"] > 50][["Column1","Column2"]]
result = df[ (df["Column1"] >= 50) & (df["Column1"] <= 70)] # and yerine & kulllanÄ±lÄ±r.
result = df[ (df["Column1"] >= 50) & (df["Column2"] <= 70)] # and yerine & kulllanÄ±lÄ±r.
result = df[ (df["Column1"] >= 50) | (df["Column2"] <= 70)][["Column1","Column2"] ]# or yerine | kulllanÄ±lÄ±r.
result = df.query("Column1 >= 50 & Column1 % 2 == 0")[["Column1","Column2"]]

print(result)

   Column1  Column2
4       56       68
5       92       98
7       64       48
9       64       55

Pandas Uygulama

In [4]:
import pandas as pd

df = pd.read_csv('imdb.csv')

result = df
result = df.columns
result = df.info # dataframe hakkÄ±nda bir bilgi getirir.
result = df.head(5)
result = df.head(10)
result = df.tail(5)
result = df.tail(10)
result = df["Movie_Title"].head(5)
result = df[["Movie_Title","Rating"]].head(5)
result = df[["Movie_Title","Rating"]].tail(7)
result = df[5:10][["Movie_Title","Rating"]]
result = df[df["Movie_Title"] & ["Rating"] >= 8.0]# benim yaptÄ±ÄŸÄ±m
result = df[df["Rating"] >= 8.0][["Movie_Title","Rating"]].head(50)
result = df.query("Mpvie_Title & Rating > 8.0")
result = df[ (df["year"] >= 2014) & ( ["year"] <= 2015) ][["Movie_Title","year"]]
result = df[ (df["Num_Reviews"] > 100000) |((df["Rating"]  >= 8.0 )& (df["Rating"] <= 9))][["Movie_Tilte","Num_Reviews","Rating"]]

print(result)

DataFrame ' lerde Groupby kullanÄ±mÄ±

In [58]:
import pandas as pd
import numpy as np

data = {
    "isimler" : ["Ahmet","Can","Hasan","Cenk","Ali","RÄ±za","Mustafa"],
    "departman" : ["Ä°K","Bilgi Ä°ÅŸlem","Muhasebe","Ä°K","Bilgi Ä°ÅŸlem","Muhasebe","Bilgi Ä°ÅŸlem"],
    "yas"  : [30, 25, 45, 50, 23, 34, 42],
    "semt" : ["KadÄ±kÃ¶y","Tuzla","Maltepe","Tuzla","KadÄ±kÃ¶y","Tuzla","Maltepe"],
    "maas" : [5000, 3000, 4000, 3500, 2750, 6500, 4500]
}
        
df = pd.DataFrame(data)
result = df["maas"].sum()
result = df

result = df.groupby("departman").groups
result = df.groupby(["departman","semt"]).groups

# for name,group in df.groupby("semt"): # semt kolonundaki verileri gruplandÄ±rÄ±r.
#     print(name)
#     print(group)
# for name,group in df.groupby("departman"):
#     print(name) #semt adÄ±
#     print(group) # o semtte bulunan kiÅŸilerin verilerini gruplar

result = df.groupby("semt").get_group("KadÄ±kÃ¶y") # SEMT GRUBUNUNN Ä°Ã‡Ä°NDEN KADIKÃ–YDE OLAN VERÄ°LERÄ° GETÄ°RÄ°R.
result = df.groupby("departman").get_group("Muhasebe")

result = df.groupby("departman").sum()
result = df.groupby("departman").mean()
result = df.groupby("departman")["maas"].mean()
result = df.groupby("semt")["yas"].mean()
result = df.groupby("semt")["maas"].mean()
result = df.groupby("semt")["isimler"].count()
result = df.groupby("departman")["yas"].max()
result = df.groupby("departman")["maas"].min()["Muhasebe"]

result = df.groupby("departman").agg(np.mean)
result = df.groupby("departman")["maas"].agg([np.sum,np.mean,np.max,np.min]).loc["Muhasebe"]

print(result)

sum     10500.0
mean     5250.0
amax     6500.0
amin     4000.0
Name: Muhasebe, dtype: float64

Pandas ile KayÄ±p veya bozuk veri analizi

In [43]:
import pandas as pd
import numpy as np

data = np.random.randint(10,100,15).reshape(5,3)
df = pd.DataFrame(data, index = ['a','c','e','f','h'], columns = ['Column1','Column2','Column3'])
df = df.reindex(['a','b','c','d','e','f','g','h'])

newColumn = [np.nan,30,np.nan,51,np.nan,30,np.nan,10] 
df["Column4"] = newColumn

result = df

result = df.drop(["Column1","Column2"], axis = 1) # 0 satÄ±ra 1 ise sÃ¼tuna denk gelir.
result = df.drop(["a"], axis = 0)


result = df.isnull()
result = df.notnull()# null olmayan alanlarÄ± getirir.

result = df.isnull().sum()# null ise true deÄŸer dÃ¶ndÃ¼rÃ¼r. sum ile bunlar toplanÄ±r.
result = df[df["Column1"].isnull()]
result = df[df["Column1"].notnull()]["Column1"]


result = df.dropna(axis = 1) # axis = 0 varsayÄ±lan olarak gelir.
result = df.dropna(how  = "any") # en az bir tane varsa
result = df.dropna(how  = "all") # hepsi null ise getirmez.
result = df.dropna(subset = ["Column1","Column2"],how = "all")# sadece Column1 ve Column2 de ara
result = df.dropna(subset = ["Column1","Column2"],how = "any")
result = df.dropna(thresh = 2) #en az 2 tane deÄŸer varsa silmez.
result = df.dropna(thresh = 3)

result = df.fillna(value = "no input") # boÅŸ alanlara no input yazar.

result = df.sum() # her sÃ¼tundaki sayÄ±larÄ±n toplamÄ±nÄ± getirir.
result = df.sum().sum() # toplam sayÄ±sal deÄŸeri verir.
result = df.size
result = df.isnull().sum()
result = df.isnull().sum().sum()


def ortalama(df):
    toplam = df.sum().sum()
    adet = df.size - df.isnull().sum().sum()
    return toplam / adet

result = df.fillna(value = ortalama(df))
print(result)

     Column1    Column2    Column3    Column4
a  80.000000  43.000000  10.000000  43.578947
b  43.578947  43.578947  43.578947  30.000000
c  19.000000  69.000000  20.000000  43.578947
d  43.578947  43.578947  43.578947  51.000000
e  29.000000  18.000000  26.000000  43.578947
f  77.000000  80.000000  68.000000  30.000000
g  43.578947  43.578947  43.578947  43.578947
h  17.000000  75.000000  76.000000  10.000000

Pandas ile String FonksiyonlarÄ±

In [7]:
import pandas as pd

data = pd.read_csv("nba.csv")

data.dropna(inplace = True)

data["Name"] = data["Name"].str.upper() # str yazdÄ±ktan sonra string metotlarÄ±na ulaÅŸÄ±labilir.
data["Name"] = data["Name"].str.lower()
data["index"] = data["Name"].str.find('a')
data = data.Name.str.contains("Jordan")
data = data.Team.str.replace(' ','-')
data[["FirstName","LastName"]] = data["Name"].loc[data["Name"].str.split().str.len() == 2].str.split(expand==True)

print(data)

Pandas ile Join ve Merge

In [17]:
import pandas as pd

# customers = {
#     'CustemorId': [1,2,3,4],
#     'FirstName' : ["Ahmet","Ali","Hasan","Canan"],
#     "LastName" : ["YÄ±lmaz","Korkmaz","Ã‡elik","Toprak"]
# }
# orders = {
#     'OrderId': [10,11,12,13],
#     'CustemorId': [1,2,5,7],
#     'OrderDate' : ['2010-07-04' , '2010-07-07','2012-07-04','2000-11-04']
# }

# df_customers = pd.DataFrame(customers, columns = ["CustemorId","FirstName","LastName"])
# df_orders = pd.DataFrame(orders, columns = ["OrderId", "CustemorId","OrderDate"])


# print(df_customers)
# print(df_orders)

# result = pd.merge(df_customers,df_orders,how = "inner") #2 tablo birleÅŸtirilir.
# result = pd.merge(df_customers,df_orders,how = "left") # soldakileri getir saÄŸdakileri getirme
# result = pd.merge(df_customers,df_orders,how = "right") # aynÄ± ÅŸekilde saÄŸdakileri getir.


customersA = {
    'CustemorId': [1,2,3,4],
    'FirstName' : ["Ahmet","Ali","Hasan","Canan"],
    "LastName" : ["YÄ±lmaz","Korkmaz","Ã‡elik","Toprak"]
}
customersB = {
    'CustemorId': [5,6,7,8],
    'FirstName' : ["YaÄŸmur","Ã‡Ä±nar","Cengiz","Can"],
    "LastName" : ["Bilge","Turan","YÄ±lmaz","Turan"]
}

df_customersA = pd.DataFrame(customers, columns = ["CustemorId","FirstName","LastName"])
df_customersB = pd.DataFrame(customers, columns = ["CustemorId","FirstName","LastName"])




result = pd.concat([df_customersA,df_customersB])
# BirleÅŸtirme iÅŸlemi yapÄ±lÄ±r.

print(result)

   CustemorId FirstName LastName
0           1     Ahmet   YÄ±lmaz
1           2       Ali  Korkmaz
2           3     Hasan    Ã‡elik
3           4     Canan   Toprak
0           1     Ahmet   YÄ±lmaz
1           2       Ali  Korkmaz
2           3     Hasan    Ã‡elik
3           4     Canan   Toprak

Pandas ile DataFrame MetotlarÄ±

In [41]:
import pandas as pd
import numpy as np

# data = {
#     "Column1" : [1,2,3,4,5],
#     "Column2" : [10,20,13,45,25],
#     "Column3" : ["abc","ca","aded","ba","dea"]
# }

# df = pd.DataFrame(data)
# result = df
# result = df["Column2"].unique() # tekrarlanmayan deÄŸerleri getirir.
# result = df["Column2"].nunique() # tekrarlanmayan deÄŸerlerin sayÄ±sÄ±nÄ± getirir.
# result = df["Column2"].value_counts() # eleman sayÄ±sÄ±nÄ± verir.
# result = df["Column1"] * 2


# def kareal(x):
#     return x * x
# kareal2 = lambda x: x * x


# result = df["Column1"].apply(kareal2) # apply metoduna fonksiyon gÃ¶nderilebilir teker teker fonksiyona deÄŸerler gider.
# df["Column4"] = df["Column3"].apply(len)

# result = df.columns
# result = len(df.columns)
# result = len(df.index)


# result = df.info
# result = df.sort_values("Column2")
# result = df.sort_values("Column3",ascending = False) # ascending false artandan azalana doÄŸru sÄ±ralar.

data = {
    "Ay" : ["MayÄ±s","Haziran","Nisan","MayÄ±s","Haziran","Nisan","MayÄ±s","Haziran","Haziran"],
    "Kategori" : ["Elektronik","Elektronik","Elektronik","Kitap","Kitap","Kitap","Kitap","Kitap","Elektronik"],
    "Gelir" : [20,30,15,14,32,42,12,36,52]
}

df = pd.DataFrame(data)

df = df.pivot_table(index="Ay",columns = "Kategori", values = "Gelir")


print(df)

Kategori  Elektronik  Kitap
Ay
Haziran           41     34
MayÄ±s             20     13
Nisan             15     42

Nba Verileri (Uygulama)

In [93]:
import pandas as pd
import numpy as np

df = pd.read_csv("nba.csv")

result = df

result = df.head(10)
result = len(df.index)
result = df["Salary"].mean()
result = df["Salary"].max()
result = df["Salary"].max()
result = df[df["Salary"] == df["Salary"].max()]["Name"].iloc[0]
result = (df[(df["Age"] >= 20 ) & (df["Age"] < 25)])[["Name","Team","Age"]]
result = df[df["Name"] == "John Holland"]["Team"]
result = df.groupby("Team")["Salary"].mean()
result = len(df.groupby("Team"))
result = df["Team"].nunique()
result = df["Team"].value_counts()

df.dropna(inplace = True) # null deÄŸerler silinir
result = df[df["Name"].str.contains("and")]



def str_find(name):
    if "and" in name.lower():
        return True
    else:
        return False
result = df[df["Name"].apply(str_find)] # str_find referans olarak gÃ¶nderilir.


print(result)

                 Name                    Team  Number Position   Age Height  \
52        Carl Landry      Philadelphia 76ers     7.0       PF  32.0    6-9
78       Andrew Bogut   Golden State Warriors    12.0        C  31.0    7-0
83     Andre Iguodala   Golden State Warriors     9.0       SF  32.0    6-6
87       Brandon Rush   Golden State Warriors     4.0       SF  30.0    6-6
94     Branden Dawson    Los Angeles Clippers    22.0       SF  23.0    6-6
98     DeAndre Jordan    Los Angeles Clippers     6.0        C  27.0   6-11
106      Brandon Bass      Los Angeles Lakers     2.0       PF  31.0    6-8
115     Julius Randle      Los Angeles Lakers    30.0       PF  21.0    6-9
127    Brandon Knight            Phoenix Suns     3.0       PG  24.0    6-3
137    James Anderson        Sacramento Kings     5.0       SG  27.0    6-6
149     Eric Moreland        Sacramento Kings    25.0       PF  24.0   6-10
188    Andre Drummond         Detroit Pistons     0.0        C  22.0   6-11
227   Justin Anderson        Dallas Mavericks     1.0       SG  22.0    6-6
238  Chandler Parsons        Dallas Mavericks    25.0       SF  27.0   6-10
248  Andrew Goudelock         Houston Rockets     0.0       PG  27.0    6-3
259    Chris Andersen       Memphis Grizzlies     7.0       PF  37.0   6-10
271     Zach Randolph       Memphis Grizzlies    50.0       PF  34.0    6-9
274    Brandan Wright       Memphis Grizzlies    34.0       PF  28.0   6-10
276     Ryan Anderson    New Orleans Pelicans    33.0       PF  28.0   6-10
291   Orlando Johnson    New Orleans Pelicans     0.0       SG  27.0    6-5
295     Kyle Anderson       San Antonio Spurs     1.0       SF  22.0    6-9
304      Andre Miller       San Antonio Spurs    24.0       PG  40.0    6-3
362  Andrew Nicholson           Orlando Magic    44.0       PF  26.0    6-9
368     Alan Anderson      Washington Wizards     6.0       SG  33.0    6-6
386   Wilson Chandler          Denver Nuggets    21.0       SF  29.0    6-8
411    Andrew Wiggins  Minnesota Timberwolves    22.0       SG  21.0    6-8
415        Randy Foye   Oklahoma City Thunder     6.0       SG  32.0    6-4
423    Andre Roberson   Oklahoma City Thunder    21.0       SG  24.0    6-7
427   Cliff Alexander  Portland Trail Blazers    34.0       PF  20.0    6-8

     Weight           College      Salary
52    248.0            Purdue   6500000.0
78    260.0              Utah  13800000.0
83    215.0           Arizona  11710456.0
87    220.0            Kansas   1270964.0
94    225.0    Michigan State    525093.0
98    265.0         Texas A&M  19689000.0
106   250.0               LSU   3000000.0
115   250.0          Kentucky   3132240.0
127   189.0          Kentucky  13500000.0
137   213.0    Oklahoma State   1015421.0
149   238.0      Oregon State    845059.0
188   279.0       Connecticut   3272091.0
227   228.0          Virginia   1449000.0
238   230.0           Florida  15361500.0
248   200.0        Charleston    200600.0
259   245.0     Blinn College   5000000.0
271   260.0    Michigan State   9638555.0
274   210.0    North Carolina   5464000.0
276   240.0        California   8500000.0
291   220.0  UC Santa Barbara     55722.0
295   230.0              UCLA   1142880.0
304   200.0              Utah    250750.0
362   250.0   St. Bonaventure   2380593.0
368   220.0    Michigan State   4000000.0
386   225.0            DePaul  10449438.0
411   199.0            Kansas   5758680.0
415   213.0         Villanova   3135000.0
423   210.0          Colorado   1210800.0
427   240.0            Kansas    525093.0

Youtube istatistik verilerin analizi

In [147]:
import pandas as pd

df = pd.read_csv("youtube-ing.csv")

result = df
result = df.head(10)
result = df[5:10].head(5) # gruplayÄ±p kayÄ±tlarÄ±n ilk 5ini alÄ±rÄ±z.
# result = len(df.columns.name)
result = df.drop(["thumbnail_link","comments_disabled","ratings_disabled"] ,axis = 1,inplace=True)
result = df
result = df["likes"].mean()
result = df["dislikes"].mean()
result = df.head(50)[["title","likes","dislikes"]]

result = df [df["views"].max() == df["views"]]["title"].iloc[0]
result = df [df["views"].min() == df["views"]]["title"].iloc[0]
result = df.sort_values("views",ascending = False).head(10)["title"]


result = df.groupby("category_id").mean().sort_values("likes")["likes"]
result = df.groupby("category_id").sum().sort_values("comment_count",ascending = False)

result = df["category_id"].value_counts()
df["title_len"] = df["title"].apply(len)

def tagCount(tag):
    return len(tag.split("|"))

df["tag_count"] = df["tags"].apply(tagCount)




def likedislikeoranhesapla(dataset):
    likesList = list(df["likes"])
    dislikesList = list(df["dislikes"])
    liste = list(zip(likesList,dislikesList))
    oranListesi = []
    for like,dislike in liste:
        if (like + dislike) == 0:
            oranListesi.append(0)
        else:
            oranListesi.append(like/(like+dislike))
    return oranListesi
    
df["begeni_orani"] = likedislikeoranhesapla(df)
print(df.sort_values("begeni_orani",ascending = False))[["title","dislikes","begeni_orani"]]

          video_id trending_date  \
36631  N1HAMUAXzbs      18.01.06
7088   sVfTvLm-7Ac      17.19.12
5361   vPsic3dEndc      17.10.12
12082  6W45zR0knjg      18.15.01
5338   r81egea0QPo      17.10.12
...            ...           ...
21547  BhIEIO0vaBE      18.03.03
22661  c0arVTRwytA      18.09.03
24920  ixNNLvyCn5Y      18.20.03
14864  nQ7mhC5_Rys      18.29.01
4465   nx1R-eHSkfM      17.06.12

                                                   title       channel_title  \
36631         Kris Wu â€“ Like That (Official Music Video)             Kris Wu
7088      HIGHLIGHTS: MK Dons U18s 1-0 Cardiff City U18s             MK Dons
5361         QUIZ : Name the Trail : A Christmas Cracker   The 2Inch of Gnar
12082    Lima Sopoaga TributeðŸ”¥ðŸ”¥||The Unsung Hero||ðŸ’¯ 2017   The rugby channel
5338   Bohemian Rhapsody (2018) - Scene Bohemian Rhap...      NanoO ARCHIVOS
...                                                  ...                 ...
21547                                    To Our Daughter        Kylie Jenner
22661                      ã€å…¬å¼ã€‘ã€ŒåŠ‡å ´ç‰ˆãƒã‚±ãƒƒãƒˆãƒ¢ãƒ³ã‚¹ã‚¿ãƒ¼ ã¿ã‚“ãªã®ç‰©èªžã€äºˆå‘Šç·¨1  ãƒã‚±ãƒ¢ãƒ³å…¬å¼YouTubeãƒãƒ£ãƒ³ãƒãƒ«
24920                    æ˜ ç”»ã€ŽBLEACHã€ç‰¹å ±ã€HDã€‘2018å¹´7æœˆ20æ—¥ï¼ˆé‡‘ï¼‰å…¬é–‹  ãƒ¯ãƒ¼ãƒŠãƒ¼ ãƒ–ãƒ©ã‚¶ãƒ¼ã‚¹ å…¬å¼ãƒãƒ£ãƒ³ãƒãƒ«
14864                             Altwork 1 Minute Video             altwork
4465                      The New Snapchat in 60 Seconds            Snapchat

       category_id              publish_time  \
36631           10  2018-05-22T15:05:18.000Z
7088            17  2017-12-13T16:33:57.000Z
5361            22  2017-12-01T11:34:30.000Z
12082           17  2017-09-29T21:46:38.000Z
5338             1  2017-11-02T18:30:38.000Z
...            ...                       ...
21547           22  2018-02-04T20:27:38.000Z
22661            1  2018-02-27T01:00:03.000Z
24920            1  2018-02-21T05:17:53.000Z
14864           28  2017-01-21T00:12:02.000Z
4465            10  2017-11-29T14:00:03.000Z

                                                    tags     views  likes  \
36631  Kris Wu|"Wu Yi Fan"|"å´äº¦å‡¡"|"fan shi"|"wuyifan"|...  12230325  57544
7088                 Tommy Hope|"MK Dons"|"Cardiff City"     21530     30
5361   MTB|"Mountain Biking"|"Bike"|"Bird"|"Aeris"|"B...      1218      2
12082                                             [none]     10869     50
5338   Bohemian Rhapsody Live AID|"freddie mercury fi...     10142     71
...                                                  ...       ...    ...
21547  Kylie Jenner|"Kylie"|"Travis Scott"|"Baby"|"An...  61080912      0
22661  pokemon|"PokÃ©mon"|"ãƒã‚±ãƒ¢ãƒ³"|"ãƒã‚±ãƒƒãƒˆãƒ¢ãƒ³ã‚¹ã‚¿ãƒ¼"|"ã¿ã‚“ãªã®ç‰©èªž"|...   1234846      0
24920  ãƒ–ãƒªãƒ¼ãƒ|"BLEACH"|"ç¦å£«è’¼æ±°"|"ä½è—¤ä¿¡ä»‹"|"é€±åˆŠå°‘å¹´ã‚¸ãƒ£ãƒ³ãƒ—"|"å®Œçµ"|"ä¹…...   1421802      0
14864                                             [none]     50522      0
4465   new snapchat|"version 2"|"snap inc"|"brandnew"...   3449247      0

       dislikes  comment_count  video_error_or_removed  \
36631         0           9528                   False
7088          0              2                   False
5361          0              1                   False
12082         0             14                   False
5338          0             20                   False
...         ...            ...                     ...
21547         0              0                   False
22661         0              0                   False
24920         0              0                   False
14864         0              0                   False
4465          0              0                   False

                                             description  title_len  \
36631  Special thanks to Stella Maxwell.Get â€œLike Tha...         42
7088   Check out Tommy Hope's stunning winner in the ...         46
5361   A Bad Brains Christmas Cracker! - #NameTheTrai...         43
12082  Hope You Enjoyed The Video \n-----------------...         47
5338   Queen - Bohemian Rhapsody Live AID \n\nSUSCRIB...         59
...                                                  ...        ...
21547  Directed by Tyler Ross @wttyler\nMusic by Jaco...         15
22661  2018å¹´7æœˆ13æ—¥ï¼ˆé‡‘ï¼‰å…¬é–‹ ã€ŒåŠ‡å ´ç‰ˆãƒã‚±ãƒƒãƒˆãƒ¢ãƒ³ã‚¹ã‚¿ãƒ¼ ã¿ã‚“ãªã®ç‰©èªžã€\næ˜ ç”»å…¬å¼ã‚µã‚¤ãƒˆ...         29
24920  æ­»ç¥žã€è¦‹å‚ã€‚\n\nå…¨ä¸–ç•Œç´¯è¨ˆç™ºè¡Œéƒ¨æ•°1å„„2,000ä¸‡éƒ¨ã®å›½æ°‘çš„äººæ°—ã‚³ãƒŸãƒƒã‚¯ãŒå®Ÿå†™æ˜ ç”»åŒ–ï¼æ‚ª...         31
14864                                                NaN         22
4465   Evan Spiegel, co-founder and CEO, explains the...         30

       tag_count  begeni_orani
36631          9           1.0
7088           3           1.0
5361          22           1.0
12082          1           1.0
5338          16           1.0
...          ...           ...
21547          5           0.0
22661         18           0.0
24920         25           0.0
14864          1           0.0
4465          11           0.0

[38916 rows x 16 columns]

TypeError: 'NoneType' object is not subscriptable